header {
    position: sticky;
}
.navcolor {
    background-color: #353a40;
}

.tickets {
    color: rgb(23, 167, 23);
}

.tickets:hover{
    color: rgb(27, 225, 27);
}
#portada {
    position: relative;
}

.carouselImg {
    filter: brightness(0.5);
    max-height: 90vh;
}
#cuadro {
    position: absolute;
    bottom: 20%;
    right: 0.5%;
    /*max-width: 540px;*/
    height: auto;
    color: white;
    text-align: justify;
}

#oradores {
    width: 80%;
    margin-bottom: 2%;
}

#oradores p {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 0%;
    font-size: small;
    color: gray;
}

#oradores h3{
    text-align: center;
    font-size: xx-large;
}



footer {
    background-color: #353a40;
    color: white;
    text-align: center;
}


